.logo_div{
    width: 600px;
    margin-top: 230px;
}
.logo_name{
    width: 345px;
    height: 97px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 100px;
    line-height: 97px;
    color: #182F81;

    margin-left: 546.61px;
    margin-top: -189.64px;
}
