.signUp_page{
    background-image: url("../../../asset/images/30-Trendy-Neon-Color-Palettes_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div_one{
    width: 1533px;
    height: 70px;
    background-color: #FFFFFF;
}
.div_two{
    width: 63px;
    height: 683px;
    background-color: #FFFFFF;
}
.div_three{
    width: 63px;
    height: 683px;
    background-color: #FFFFFF;
    margin-left: 1470px;
    margin-top: -683px;
}
.icon{
    width: 40px;
    margin-top: 20px;
    margin-right: 1360px;
}

.welcomeText_form_div {
    width: 600px;
    height: 500px;
    background-color: black;
    margin-left: 450px;
    margin-top: -770px;
}

.welcomeToUnicoin{
    width: 445px;
    height: 48px;
    margin-left: 106px;
    margin-top: 204px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.signUpToGetStarted{
    width: 167px;
    height: 18px;
    margin-left: 230px;
    margin-top: 29px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #F8D149;
}